%table.table.table-striped
  %thead
    %tr
      %th.video.video_id= 'id'
      %th.video.video-title= 'title'
      %th.video.video-state= 'state'
      %th.video.video-action= 'action'
  %tbody
    - @videos.each do |video|
      %tr
        %td= video.id
        %td= video.title
        %td= video.state
        %td
          %a.btn.btn-info.nowrap{ "href" => '' }
            %span.glyphicon.glyphicon-edit
          %a.btn.btn-danger.nowrap{ "href" => '' }
            %span.glyphicon.glyphicon-trash


= paginate @videos, :remote => true